@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');

* {
  text-align: right;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
}

h2 {
    margin-right: 60px;
}

#wh {
    color: #fff;
    font-family: 'Assistant', sans-serif;
}

#our-gallery {
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 2px solid #ccc; /* Change the border color here */
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.gallery-item img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .gallery-item {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 100%;
        height: auto;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact #mm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mm img {
    width: 130px;
    cursor: pointer;
}


.scrolling-container {
    width: 700px;
    overflow-x: scroll;
  }
  
  .scrolling-wrapper {
    display: flex;
  }
  
  .item {
    margin: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media (max-width: 768px) {
    .item {
        width: 300px;
    }
}

@media ((min-width: 769px) and  (max-width: 1000px)) {
    .item {
        width: 400px;
    }

    .scrolling-container {
        width: 1000px;
        overflow-x: scroll;
    }
}

@media (min-width: 1001px) {
    .item {
        width: 500px;
    }

    .scrolling-container {
        width: 1000px;
        overflow-x: scroll;
    }
}


.wa-li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 20px;
}

.wa-ob a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wa-ob h4 {
    font-size: 20px;
}

.wa-ob img{
    width: 50px;
}
  

